* {margin: 0; padding: 0;} /* обнуляем отступы */


body {
    
    background-color: #eee;
}

ul  { 
    text-align: left;
    
}


.main {
    width: 700px;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.2);
       -moz-box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.2);
            box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.2);
}

h1  {
    text-align: center;
    padding: 46px 0 6px 0;
}

.face {
    height: 300px;
    width: 500px;
    display: block; 
    margin: 0 auto;
}

.wrapper {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    text-align:center
}

    hr {
    margin: 24px 0;
}


h2 {
    text-align: center;
    padding: 46px 0 6px 0;
}



}





.section 
{
    padding-top: 40px;
    padding-left: 40px;
    line-height: 30px;
}

.section li{
    padding: 20px;
}

.priorities {
    margin-top:20px;    
    font-size: 20px;
    padding-right: 70px;
    padding-left: 90px;   }



p {
    line-height: 20px; }